@font-face { font-family: 'SF Pro Display'; src: url('fonts/SF-Pro-Display-Light.ttf') format('truetype'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'SF Pro Display'; src: url('fonts/SF-Pro-Display-Regular.ttf') format('truetype'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'SF Pro Display'; src: url('fonts/SF-Pro-Display-Medium.ttf') format('truetype'); font-weight: 500; font-style: normal; }

* { margin: 0; padding: 0; box-sizing: border-box; -webkit-user-select: none; }
body { font-family: 'SF Pro Display', -apple-system, sans-serif; color: #ffffff; background-color: transparent; }
#widget-container { width: 148px; height: auto; position: absolute; top: 0; left: 0; }

.weather-card { 
    width: 148px; height: 148px; border-radius: 20px; padding: 12px 16px; 
    display: flex; flex-direction: column; justify-content: space-between; 
    background-color: #3a7bd5; 
    position: relative; z-index: 10; transition: background 0.5s ease;
}

.bg-cloudy { background: linear-gradient(180deg, #8391a0, #576876); }
.bg-rain { background: linear-gradient(180deg, #5c6478, #3e4956); }
.bg-sunny  { background: linear-gradient(180deg, #2980B9, #6DD5FA); }
.bg-night  { background: linear-gradient(180deg, #010521, #2d3654); }
.bg-dusk   { background: linear-gradient(180deg, #2f4276, #b68870); }

.top-section, .bottom-section { display: flex; flex-direction: column; }
.location-row { display: flex; align-items: center; margin-bottom: 1px; }
.location-name { font-size: 16px; font-weight: 500; letter-spacing: 0.45px; margin-right: 3px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100px; }
.location-icon { width: 10px; height: 10px; margin-top: 1px; }
.current-temp { font-size: 40px; font-weight: 300; line-height: 1.0; letter-spacing: 0.3px; margin-left: -1px; }

.raw-icon { opacity: 1; }
.weather-icon { width: 18px; height: 18px; margin-bottom: -2px; margin-top: 10px; }

.condition { font-size: 14px; font-weight: 500; margin-bottom: 2px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; letter-spacing: 0.3px; }
.high-low { font-size: 13px; font-weight: 500; opacity: 1; text-shadow: 0 1px 2px rgba(0,0,0,0.1); letter-spacing: 0.5px; display: flex; align-items: center; }
.arrow-icon { width: 10px; height: 10px; margin: 0 3px 0 0; }
.arrow-up { margin-left: 6px; }
.widget-label { width: 100%; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: 400; margin-top: 4px; color: #ffffff; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); letter-spacing: 0.3px; }